n8n-workflows/health-monitor-15min.json
{
  "name": "Health Monitor - 15min",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://yourdomain.com/api/automation/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "2",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -448,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "spy-api-key",
          "name": "Spy API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "value2": "healthy"
            }
          ]
        }
      },
      "id": "3",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {},
      "id": "6c69346b-2c49-451f-82a6-f14920626fd2",
      "name": "Health OK Log",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "",
        "toEmail": "",
        "subject": "Not Healthy",
        "html": "Please check the logs on the Vercel dashboard to see what happened.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        208
      ],
      "id": "03a91464-9875-4a50-94b1-d6c80a9a571f",
      "name": "Send email",
      "webhookId": "b281f5a2-6720-4578-ad56-8b27081cfa2d",
      "credentials": {
        "smtp": {
          "id": "tYu12QNrjAzwTvzo",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Is Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Healthy?": {
      "main": [
        [
          {
            "node": "Health OK Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e3bcee1c-9fdf-4547-9ab8-c641a883b012",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bd5173db514ad7781e5b6b4756883b7599b0ce5ff7c2e803bf00e8b6d546645"
  },
  "id": "xNhnhyzTRJlmB0ZU",
  "tags": []
}