n8n-workflows/repository-update-20sec.json
{
  "name": "Repository Stats Update (Every 20s)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 20 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yourdomain.com/api/automation/update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $credentials.apiKey }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "update-stats",
      "name": "Update Repository Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "spy-api-key",
          "name": "Spy API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.processed }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-processed",
      "name": "Any Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yourdomain.com/api/revalidate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "={{ $credentials.secret }}"
            },
            {
              "name": "path",
              "value": "/"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "revalidate-cache",
      "name": "Revalidate Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "revalidation-secret",
          "name": "Revalidation Secret"
        }
      }
    },
    {
      "parameters": {},
      "id": "success-notification",
      "name": "Success Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 100],
      "notes": "Replace with Email, Slack, Discord, etc.\n\nMessage: Repository stats updated!\nProcessed: {{ $('Update Repository Stats').item.json.processed }}\nErrors: {{ $('Update Repository Stats').item.json.errors }}"
    },
    {
      "parameters": {},
      "id": "no-updates-needed",
      "name": "No Updates Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 200],
      "notes": "No repositories needed updating (all updated within 24h)"
    },
    {
      "parameters": {},
      "id": "error-notification",
      "name": "Error Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400],
      "notes": "Replace with Email, Slack, Discord, etc.\n\nMessage: Repository update failed!\nError: {{ $('Update Repository Stats').item.json.error }}"
    }
  ],
  "connections": {
    "Every 20 Seconds": {
      "main": [
        [
          {
            "node": "Update Repository Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Repository Stats": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Any Processed?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Processed?": {
      "main": [
        [
          {
            "node": "Revalidate Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Updates Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revalidate Cache": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-14T00:00:00.000Z",
  "versionId": "1"
}
