n8n-workflows/repository-enrichment-5min.json
{
  "name": "Repository Enrichment - 5min",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://yourdomain.com/api/automation/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "2",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "spy-api-key",
          "name": "Spy API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.nextActions.shouldRunEnrichment}}",
              "value2": true
            }
          ]
        }
      },
      "id": "3",
      "name": "Should Run Enrichment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://yourdomain.com/api/automation/enrich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 300000,
          "retry": {
            "enabled": true,
            "maxTries": 2
          }
        }
      },
      "id": "4",
      "name": "Trigger Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "spy-api-key",
          "name": "Spy API Key"
        }
      }
    },
    {
      "parameters": {
        "message": "ℹ️ No repositories need enrichment at this time.\n\n📊 Current Status:\n- Total Repos: {{$('Check Status').item.json.statistics.total}}\n- Enriched: {{$('Check Status').item.json.statistics.enriched}}\n- Need Enrichment: {{$('Check Status').item.json.nextActions.enrichmentsNeeded}}"
      },
      "id": "5",
      "name": "Skip Log",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "6",
      "name": "Check Enrichment Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "message": "✅ Repository enrichment completed!\n\n📊 Results:\n- Total Found: {{$json.totalFound}}\n- Processed: {{$json.processed}}\n- Errors: {{$json.errors}}\n- Timestamp: {{$json.timestamp}}"
      },
      "id": "7",
      "name": "Enrichment Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "message": "❌ Repository enrichment failed!\n\n🚨 Error: {{$json.error}}\n- Timestamp: {{$json.timestamp}}"
      },
      "id": "8",
      "name": "Enrichment Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Should Run Enrichment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Run Enrichment?": {
      "main": [
        [
          {
            "node": "Trigger Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Enrichment": {
      "main": [
        [
          {
            "node": "Check Enrichment Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrichment Success": {
      "main": [
        [
          {
            "node": "Enrichment Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enrichment Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-13T00:00:00.000Z",
  "updatedAt": "2024-01-13T00:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1"
}