n8n-workflows/repository-ingestion-hourly.json
{
  "name": "Repository Ingestion - Hourly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yourdomain.com/api/automation/ingest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 300000,
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        }
      },
      "id": "2",
      "name": "Trigger Ingestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "spy-api-key",
          "name": "Spy API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "3",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yourdomain.com/api/revalidate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"path\": \"/\"}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6",
      "name": "Revalidate Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "revalidation-secret",
          "name": "Revalidation Secret"
        }
      }
    },
    {
      "parameters": {
        "message": "✅ Repository ingestion completed successfully!\n\n📊 Results:\n- Total Found: {{$('Trigger Ingestion').item.json.totalFound}}\n- Processed: {{$('Trigger Ingestion').item.json.processed}}\n- Errors: {{$('Trigger Ingestion').item.json.errors}}\n- Timestamp: {{$('Trigger Ingestion').item.json.timestamp}}\n\n{{$('Trigger Ingestion').item.json.message}}\n\n🔄 Cache revalidated successfully!"
      },
      "id": "4",
      "name": "Success Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "message": "❌ Repository ingestion failed!\n\n🚨 Error Details:\n- Error: {{$json.error}}\n- Timestamp: {{$json.timestamp}}\n\nPlease check the application logs for more details."
      },
      "id": "5",
      "name": "Error Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Trigger Ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Ingestion": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Revalidate Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revalidate Cache": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-13T00:00:00.000Z",
  "updatedAt": "2024-01-14T00:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2",
  "active": false,
  "tags": []
}
